
// Размер шрифта (fond-size)
$_64px: 4rem;
$_36px: 2.25rem; 
$_30px: 1.875rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_13px: 0.8125rem;

// font-weight
$Bolt700: 700;
$Black900: 900;
$Regular400: 400; 


///
$upp: uppercase;