$color-text: #FFFFFF;

$menu-active: #BABBC5;
$hover: #656980;

$text: #2D3033;
$text-title: #6C7279;

$red-normal: #FF4343;
$red-hover:  #E71414;

$red-active: #B90C0C;

$icon: #C6CBCD;

$color-slider:#5C3249;
